<?php
/** @var \Magento\Framework\View\Element\Template $block */

/** @var \Mbs\ControllerWithJavascript\ViewModel\UseMe $viewModel */
$viewModel = $block->getData('viewModel');

?>
<div>
    <button id="js-trigger"
            name="js_trigger"
            type="button"
            class="action primary"
            title="Login">Launch controller</button>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Mbs_ControllerWithJavascript/js/useme": {
                "triggerUrl": "<?php echo $viewModel->getMyUrl(); ?>"
            }
        }
    }
</script>
